
ul {
    list-style-type: none;
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: black
}

.principal {
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
