.container-footer {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto; 
    border-top: 2px solid white;
    padding-top: 10px;
}

.redes {
    width: 50px;
    height: 50px;
    color: white;
}

.container-redes {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}